body {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

#main {
  background-color: #eee;
  padding: 0 20px 10px;
  margin-bottom: 40px;
}

#title {
  padding-top: 20px;
}

#img-div {
  background-color: white;
  height:100%;
  padding: 0 5px;
  /* width: 100%; */
}
#img-div img{
  display:block;
  height: 100%;
  margin:auto;
  width: 70%;
}

#img-caption {
  padding: 15px;
}

#headline {
  padding-top: 20px;
}

#tribute-info ul {
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
}

#tribute-info ul li {
  margin: 10px;
}

blockquote {
  font-style: italic;
}

#tribute-link {
  display: inline;
}

@media only screen and (min-width: 600px) {
  #img-div {
    background-color: white;
    height:100%;
    padding: 0 5px;
    font-size: 52px;
    width: 100%;
  }
  #img-div img {
    display: block;
    height: 100%;
    margin: auto;
    width: 89%;
  }
  #headline {
    margin-top: 50px;
    padding-bottom:30px;

  }
  h1 {
    font-size: 7em;
    color:#333;
  }
  #img-caption {
    margin: 57px;
  }
  p {
    padding:10px;
  }
}
